body{
    background-image: url("../Digital clock/files/img/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed ;
    margin: 0;
    font-size: 7.5rem;
    font-family: monospace; /*Paw Wow Block;*/
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    text-align: center;
    color:balck;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 0%, 0.158);
    border-radius: 80px;
    width: 900px;
    font-weight: bold;
}

@font-face {
    font-family: "Paw Wow Block";
    src: url("../Digital clock/files/fonts/PawWowBlock-VGMDl.otf");
}